<!DOCTYPE html>
<html>

  <head>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="~/js/bootstrap.js">
    </script>
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/scripts.js"></script>
    <link href="~/css/SiteStyles.css" rel="stylesheet" type="text/css">
    <title>Mighty Cedar Music</title>
  </head>

  <body>

    <div class="container">

    </div>

      <header class="page-header fixed-top">
        <div class="background">
          <img src="http://www.erezsussman.com/images/tabtopblank.jpg" width="16%" border="0">

          <a href="/"><img src="http://www.erezsussman.com/images/tabhome.jpg" width="16%" border="0"></a>

          <a href="/about"><img src="http://www.erezsussman.com/images/tababout.jpg" width="16%" border="0"></a>

          <a href="shows.htm"><img src="http://www.erezsussman.com/images/tabshows.jpg" width="16%" border="0"></a>

          <a href="contact.htm"><img src="http://www.erezsussman.com/images/tabcontact.jpg" width="16%" border="0"></a>

          <img src="httP://www.erezsussman.com/images/tabtopblank.jpg" width="16%" border="0">
        </div>
      </header>

      <div class="spacer">
        &nbsp;
      </div>

      <main class="container">
        <p>content goes below</p>

        @RenderBody()

      </main>

      <div class="spacer">
        &nbsp;
      </div>

      <footer class="page-footer fixed-bottom">
        <div class="background">
          <img src="http://www.erezsussman.com/images/tabbottomblank.jpg" border="0" width="16%">
          <a href="video.htm" target="main"><img src="http://www.erezsussman.com/images/tabvideo.jpg" border="0" width="16%"></a>
          <a href="audio.htm" target="main"><img src="http://www.erezsussman.com/images/tabaudio.jpg" border="0" width="16%"></a>
          <a href="artgallery/index.html" target="main"><img src="http://www.erezsussman.com/images/tabartwork.jpg" border="0" width="16%"></a>
          <a href="scores.htm" target="main"><img src="http://www.erezsussman.com/images/tabscores.jpg" border="0" width="16%"></a>
          <img src="http://www.erezsussman.com/images/tabbottomblank.jpg" border="0" width="16%">
        </div>
      </footer>

  </body>
</html>
