<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
  </head>
  <body>
    <div class="container">
      <form action="/items" method="post">
       <label for="description">Add a new item</label>
       <input id="description" name="description" type="text">
       <button type="submit">Submit</button>
     </form>
    </div>
  </body>
</html>
