<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>PostOffice</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>PostOffice</h1>

    <h3>All Your Package Needs</h3>

    <h3><a href="/parcels">Inventory</a></h3>
    <h3><a href="/parcels/new">Add Parcel</a></h3>
  </body>
</html>
