<!DOCTYPE html>

@using ToDoList.Models;

<html>
  <head>
    <meta charset='utf-8'>
    <title>ToDoList</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <h3>Here are all the items in this category:</h3>

    <ol>
    @foreach (Item item in @Model["items"])
    {
      <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
    }
    </ol>

    <p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p>
    <p><a href='/categories'>Return to category list</a></p>
    <p><a href='/'>Return to Main Page</a></p>

  </body>
</html>
