.spacer
{
    width: 100%;
    height: 35px;
}
.background {
  background-color: #ffffff;
}

body {
  /* background-color: #100029; */
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
