
<div id="nav">
  <ul>
    <li><a href="/hello">Greeting!!</a></li>
    <li><a href="/goodbye">Farewell!!</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/form">Fill Out A Letter For Your Friend</a></li>
    <li><a href ="/favorite_photos">Cute Picture Of Bunny!!</a></li>
  </ul>
</div>
